<p id="notice"><%= notice %></p>

<p>
  <strong>Idpadre:</strong>
  <%= @opcione.idpadre %>
</p>

<p>
  <strong>Opcion:</strong>
  <%= @opcione.opcion %>
</p>

<p>
  <strong>Url:</strong>
  <%= @opcione.url %>
</p>

<p>
  <strong>Estadoopcion:</strong>
  <%= @opcione.estadoopcion %>
</p>

<p>
  <strong>Orden:</strong>
  <%= @opcione.orden %>
</p>

<p>
  <strong>Eshoja:</strong>
  <%= @opcione.eshoja %>
</p>

<p>
  <strong>Controller:</strong>
  <%= @opcione.controller %>
</p>

<p>
  <strong>Eliminado:</strong>
  <%= @opcione.eliminado %>
</p>

<%= link_to 'Edit', edit_opcione_path(@opcione) %> |
<%= link_to 'Back', opciones_path %>
