<p id="notice"><%= notice %></p>

<h4>Parámetros</h4>
<%= link_to 'Nuevo', new_parametro_path,class:'btn btn-primary btn-sm' %>
<hr>

<table id="parametros_data" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Atributo</th>
      <th>Descripcion</th>
      <th>Estado</th>     
    </tr>
  </thead>

  <tbody>
    <% @parametros.each do |parametro| %>
      <tr>     
         <td><a class="llaves" href="/parametros/<%= parametro.id %>"><%= parametro.id %></a></td>   
        <td><%= parametro.atributo %></td>
        <td><%= parametro.descripcion %></td>
        <td><%= parametro.estadoParametro %></td>        
      </tr>
    <% end %>
  </tbody>
</table>
 <script>
    jQuery.noConflict();
    jQuery(document).ready(function(){     
      jQuery('#parametros_data').DataTable(); 
    
    });  
</script>


