<p id="notice"><%= notice %></p>

<p>
  <strong>Idrol:</strong>
  <%= @rol_opcion_operacione.idrol %>
</p>

<p>
  <strong>Idoperacion:</strong>
  <%= @rol_opcion_operacione.idoperacion %>
</p>

<p>
  <strong>Eliminado:</strong>
  <%= @rol_opcion_operacione.eliminado %>
</p>

<p>
  <strong>Estadorolop:</strong>
  <%= @rol_opcion_operacione.estadorolop %>
</p>

<%= link_to 'Edit', edit_rol_opcion_operacione_path(@rol_opcion_operacione) %> |
<%= link_to 'Back', rol_opcion_operaciones_path %>
